.root {
  border-radius: var(--border-radius);
  border: 2px solid var(--primary-main);
  padding: var(--spacing);
  font-weight: var(--font-weight-bold);
  font-family: inherit;
  background-color: var(--background-main);
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border-color: var(--primary-light);
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid var(--primary-main);
  }

  &:disabled {
    color: var(--gray-medium);
    border-color: var(--gray-medium);
  }
}

.fullWidth {
  width: 100%;
}

/*
  Variants
*/
.outlined {
  // TODO:
}

.contained {
  // TODO:
}

.text {
  border: none;
  background-color: none;
  padding: 0;
}

/*
  Colors
*/
.primary {
  color: var(--primary-main);
  border-color: var(--primary-main);

  &.contained {
    color: var(--primary-contrast);
    background-color: var(--primary-main);
  }

  &:focus,
  &:focus-visible {
    outline-color: var(--primary-light);
  }
}

.secondary {
  color: var(--secondary-main);
  border-color: var(--secondary-main);

  &.contained {
    background-color: var(--secondary-main);
  }

  &:focus,
  &:focus-visible {
    outline-color: var(--secondary-light);
  }
}

.success {
  color: var(--success-main);
  border-color: var(--success-main);

  &.contained {
    background-color: var(--success-main);
  }

  &:focus,
  &:focus-visible {
    outline-color: var(--success-light);
  }
}

.warning {
  color: var(--warning-main);
  border-color: var(--warning-main);

  &.contained {
    background-color: var(--warning-main);
  }

  &:focus,
  &:focus-visible {
    outline-color: var(--warning-light);
  }
}

.error {
  color: var(--error-main);
  border-color: var(--error-main);

  &:hover {
    border-color: var(--error-light);
  }

  &:focus,
  &:focus-visible {
    outline-color: var(--error-main);
  }

  &.contained {
    color: var(--error-contrast);
    background-color: var(--error-main);
    border-color: var(--error-main);
  }
}
