.root {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--text-primary);
  width: 100%;
  line-height: normal;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  gap: var(--spacing);

  a {
    color: var(--text-primary);
  }
}

.discordLink {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

.discordIcon {
  width: 18px;
}
