.root {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--text-primary);
  width: 100%;
  line-height: normal;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  a {
    color: var(--text-primary);
  }
}

.discord {
  a {
    text-decoration: none;
  }

  button {
    font-size: var(--font-size-h5);
    padding: 0 var(--spacing-half);
    display: flex;
    align-items: center;
    text-decoration: none;

    svg {
      margin-right: var(--spacing-half);
    }
  }
}
