.root {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 2);
}

.label {
  font-weight: var(--font-weight-bold);
}

.input {
  padding: var(--spacing);
  border-radius: var(--border-radius);
  border: 2px solid var(--gray-main);
  background-color: var(--input-main);

  &:focus {
    outline: 2px solid var(--gray-main);
  }

  &.isFullWidth {
    width: 100%;
  }

  &.isCheckbox {
    width: var(--spacing-2);
    height: var(--spacing-2);
  }
}

.error {
  color: var(--error-main);
}
