.textLoader {
  font-weight: var(--font-weight-bold);
}

.animatedLoader {
  width: var(--spacing-2);
  height: var(--spacing-2);
  background: var(--primary-light);
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 1s ease-in infinite;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
