.root {
  display: flex;
  flex-direction: row;
  padding: var(--spacing);
  border-radius: var(--border-radius);
  gap: var(--spacing);
  justify-content: space-between;
  align-items: center;
  animation: var(--animation-fade-in);
  overflow-wrap: anywhere;

  &.info {
    background-color: var(--info-main);
    color: var(--info-contrast);
  }

  &.success {
    background-color: var(--success-main);
    color: var(--success-contrast);
  }

  &.warning {
    background-color: var(--warning-main);
    color: var(--warning-contrast);
  }

  &.error {
    background-color: var(--error-main);
    color: var(--error-contrast);
  }
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  svg {
    width: var(--spacing-3);
  }
}

.closeIcon {
  width: var(--spacing-3);
  color: inherit;
}
