.root {
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.2);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
  outline: none !important;

  cursor: pointer;
  transition: all 0.1s linear;

  &:hover {
    background-color: rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.25);
  }
}

.active {
  border: 1px solid var(--success-main);

  &:hover {
    border: 1px solid var(--success-main);
  }
}

.warning {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2.5rem;
  color: #9b0707;
  transition: all 0.1s linear;

  &:hover {
    font-size: 3rem;
  }
}

.hidden {
  opacity: 25%;
}

.unused {
  opacity: 10%;
}

.success {
  color: var(--white-main);
}