:root {
  --spacing-none: 0;
  --spacing-auto: auto;
  --spacing-full: 100%;
  --spacing-half: 4px;
  --spacing: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-9: 72px;
  --spacing-10: 80px;
  --border-radius-half: 4px;
  --border-radius: 10px;
  --border-radius-2: 16px;
  --border-radius-full: 100%;
  --z-index-modal: 1000;
  --z-index-work-periods: 10;
  --z-index-overlaps: 20;
  --z-index-agenda-headers: 100;
  --z-index-agenda-overlay: 150;
  --blur-modal: 2px;
}
