:root {
  --primary-main: #294779;
  --primary-dark: #0A192C;
  --primary-light: #80B6AE;
  --primary-contrast: #ffffff;
  --secondary-main: #54b158;
  --secondary-dark: #57a773;
  --secondary-contrast: #ffffff;
  --error-main: #ED3B0B;
  --error-dark: #c70d14;
  --error-light: #f38b8e;
  --error-contrast: #ffffff;
  --success-main: #44FC9B;
  --success-dark: #57a773;
  --success-contrast: #ffffff;
  --warning-main: #ffbf00;
  --warning-dark: #e8a138;
  --warning-contrast: #000000;
  --info-main: #03aef3;
  --info-dark: #028bc2;
  --info-contrast: #ffffff;
  --background-main: #08080b;
  --background-light: #19212a;
  --background-secondary: #ffffff;
  --background-disabled: #f9f6f6;
  --background-modal: #464646bd;
  --text-primary: #B7B7B7;
  --text-secondary: #ffffff;
  --text-hint: #707070;
  --gray-main: #373A3A;
  --gray-light: #B7B7B7;
  --gray-dark: #464646;
  --gray-contrast: #ffffff;
  --white-main: #ffffff;
  --white-contrast: #000000;
  --black-main: #000000;
  --black-contrast: #ffffff;
  --input-main: #ffffff;
  --input-secondary: #707070;
  --input-active: #707070;
  --input-selected: #f9f6f6;
}
