@use '/src/styles/breakpoints.scss';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--spacing-4);
  max-width: 720px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (min-width: breakpoints.$sm) {
    width: initial;
    padding-top: var(--spacing-2);
  }
}

.settings {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  align-items: flex-start;
  width: 100%;
  max-width: 400px;

  @media (min-width: breakpoints.$sm) {
    width: initial;
    max-width: initial;
  }
}

.settingsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--spacing-2);
  width: 100%;
}

.resetButton {
  text-transform: uppercase;
  color: var(--text-primary);
  font-size: var(--font-size-h6);

  @media (min-width: breakpoints.$sm) {
    font-size: var(--font-size-h3);
  }
}

.keyList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--spacing);
  width: 100%;
  max-width: 500px;
}
