.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
}

.modalCard {
  padding: var(--spacing);
  background-color: var(--primary-main);
  border-radius: var(--spacing-half);
  border: 1px solid rgba(255,255,255,0.3);
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}
