.button {
  font-size: var(--font-size-h1);
  background-color: rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  padding: 0 16px;
  margin: 6px 0;
  border-radius: 4px;
  transition: all 0.1s linear;
  cursor: pointer;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
  outline: none !important;

  &:hover {
    background-color: rgba(0,0,0,0.4);
  }
}

.green {
  color: var(--white-main);
  background-color: var(--secondary-main);

  &:hover {
    background-color: var(--secondary-dark);
  }
}
