.button {
  font-size: var(--font-size-h1);
  background-color: rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  padding: 0 var(--spacing-2);
  margin: var(--spacing-half) 0;
  border-radius: var(--border-radius-half);
  transition: all 0.1s linear;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent; 
  -webkit-focus-ring-color: transparent; 
  outline: none;

  &:hover {
    background-color: rgba(0,0,0,0.4);
  }
}

.green {
  color: var(--white-main);
  background-color: var(--secondary-main);

  &:hover {
    background-color: var(--secondary-dark);
  }
}
